// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.paragraph {
  border-left: 3px solid grey;
  margin-left: 18px;
  padding-left: 10px;
}
